body {
    font-family: 'Roboto', sans-serif;
}

.title {
    /* background-color: black;
    color: white; */
    padding: 3% 9% 5%;
}
.navbar-dark .navbar-nav .nav-link {
    color: #da723c !important;
}

.themechange{
    background-color: white;
    color: black;
}

.navbar {
    padding-bottom: 5%;
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-item {
    font-size: 1.25rem;
}

.heading {
    padding-top: 25%;
    padding-left: 5%;
}

.companies1 {
    padding: 2% 9%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /* color: black; */
}

.companies2 {
    padding: 2% 9%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /* background-color: black; */
    /* color: white; */

}

.companies3 {
    padding: 2% 9%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /* color: black; */

}
.companies4 {
    padding: 2% 9%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /* background-color: black; */
    /* color: white; */

}
.companies5 {
    padding: 2% 9%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /* background-color: black; */
    /* color: black; */

}
.companies6 {
    padding: 2% 9%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /* background-color: black; */
    /* color: white; */

}

.mobi {
    width: 80%;
}

.row{
    padding-top: 2%;
}

.chg:hover{
    visibility: 0.5;
    cursor: pointer;
}
.switch {
    display: flex;
    border-radius: 50px;
    width: 4rem;
    height: 2rem;
    padding: .3rem;
    background-color: darkslateblue;
    transition: background-color .2s;
    cursor: pointer;
    float: right;
    margin-right: 5rem;
    margin-left: 1rem;

}
.btn-toggle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    transition: transform .1s;
}

/* Dark Theme */
.dark-theme {
    background-color:black !important;
    color: white !important;
}

.dark-theme .switch {
    background-color: rgba(255, 255, 255, .1);
}

.dark-theme .btn-toggle {
    transform: translateX(28px);
} 
.mobi-desc {
    height: 10%;
}
.first_col{
    flex-grow: 3 !important;
}
.item_quantity{
    display: flex;
    color: #212121;
    align-items: center;
}
.quantity{
    display: inline-block;
    text-align: center;
    width: 46px;
    height: 28px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    margin: 0 5px;
    
}
.minusplus_sign{
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff,#f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 1px;
    line-height: 1;
}
.cart_buttons{
    display: flex;
    justify-content: space-between;
}
.btn-warning{
    width: 10rem;
    height: 3rem;
}

/* ----------------- Footer --------------------- */


/* ---------------- Global Classes ---------------*/


:root{

    /*      Theme colors        */
    --text-gray: #3f4954;
    --text-light : #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --midnight: #104f55;

    /* gradient color   */
    --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    
}

.flex-row{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

.container{
    margin: 0 5vw;
}

.text-gray{
    color: var(--text-gray);
}

p{
    color: var(--text-light);
}


/* ------x------- Global Classes -------x-------*/

footer.footer{
    height: 100%;
    background: var(--bg-color);
    position: relative;
}

footer.footer .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer.footer .container > div{
    flex-grow: 1;
    flex-basis: 0;
    padding: 2rem .9rem;
}

footer.footer .container h2{
    color: var(--white);
    font-size: 1.9rem;
}

footer.footer .newsletter .form-element{
    background: black;
    display: inline-block;
}

footer.footer .newsletter .form-element input{
    padding: .5rem .7rem;
    border: none;
    background: transparent;
    color: white;
    font-size: 1rem;
    width: 74%;
}

footer.footer .newsletter .form-element span{
    background: var(--sky);
    padding: .5rem .7rem;
    cursor: pointer;
}

footer.footer .instagram div > img{
    display: inline-block;
    width: 25%;
    height: 50%;
    margin: .3rem .4rem;
}

footer.footer .follow div i{
    color: var(--white);
    padding: 0 .4rem;
}

footer.footer .rights{
    justify-content: center;
}


footer.footer .rights h4 a{
    color: var(--white);
}


footer.footer .move-up{
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span{
    color: var(--midnight);
}

footer.footer .move-up span:hover{
    color: var(--white);
    cursor: pointer;
}

/* ---------x------- Footer ----------x---------- */
