body {
    font-family: 'Roboto', sans-serif;
}

.title {
    /* background-color: black;
    color: white; */
    padding: 3% 9% 5%;
}
.navbar-dark .navbar-nav .nav-link {
    color: #da723c !important;
}

.themechange{
    background-color: white;
    color: black;
}

.navbar {
    padding-bottom: 5%;
}

.navbar-brand {
    font-size: 1.5rem;
}

.nav-item {
    font-size: 1.25rem;
}

.heading {
    padding-top: 25%;
    padding-left: 5%;
}

.companies1 {
    padding: 2% 9%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /* color: black; */
}

.companies2 {
    padding: 2% 9%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /* background-color: black; */
    /* color: white; */

}

.companies3 {
    padding: 2% 9%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /* color: black; */

}
.companies4 {
    padding: 2% 9%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /* background-color: black; */
    /* color: white; */

}
.companies5 {
    padding: 2% 9%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /* background-color: black; */
    /* color: black; */

}
.companies6 {
    padding: 2% 9%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    /* background-color: black; */
    /* color: white; */

}

.mobi {
    width: 80%;
}

.row{
    padding-top: 2%;
}

.chg:hover{
    visibility: 0.5;
    cursor: pointer;
}
.switch {
    display: flex;
    border-radius: 50px;
    width: 4rem;
    height: 2rem;
    padding: .3rem;
    background-color: darkslateblue;
    transition: background-color .2s;
    cursor: pointer;
    float: right;
    margin-right: 5rem;
    margin-left: 1rem;

}
.btn-toggle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: white;
    transition: transform .1s;
}

/* Dark Theme */
.dark-theme {
    background-color: #333 !important;
    color: white !important;
}

.dark-theme .switch {
    background-color: rgba(255, 255, 255, .1);
}

.dark-theme .btn-toggle {
    transform: translateX(28px);
} 
.mobi-desc {
    height: 10%;
}
.first_col{
    flex-grow: 3 !important;
}
.item_quantity{
    display: flex;
    color: #212121;
    align-items: center;
}
.quantity{
    display: inline-block;
    width: 46px;
    height: 28px;
    border-radius: 2px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    margin: 0 5px;
}
.quantity input{
    border: none;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
}
.minusplus_sign{
    width: 28px;
    height: 28px;
    background: linear-gradient(#fff,#f9f9f9);
    display: inline-block;
    border: 1px solid #c2c2c2;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    padding-top: 1px;
    line-height: 1;
}
.cart_buttons{
    display: flex;
    justify-content: space-between;
}